body {
    background-color: peachpuff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

#graph {
    background-color: #f8e8ff;
    border: 2px solid #d6b2e5;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.axis path,
.axis line {
    stroke: #d6b2e5;
}

.axis text {
    fill: #b481c1;
    font-size: 12px;
}

circle {
    fill: #f4a8d7;
    stroke: #9e62ad;
    stroke-width: 1px;
    cursor: pointer;
}